.carousel-images-wrapper {
    width: 500px;
    height: 500px;
    position: relative;
   }

   .carousel {
    display: block;
    position: absolute;
    z-index: 1001;
   }

   .ng-hide {
    z-index:0 !important;
   }

   .fader {
    position: absolute;
    z-index: 1002;
   }